#jumboStyle {
    background: url('https://images.pexels.com/photos/103567/pexels-photo-103567.jpeg?cs=srgb&dl=beach-cc0-coast-103567.jpg&fm=jpg') no-repeat center;
 background-size: cover;
 color: white;
 text-align: center;
}